In [31]:
import requests
import time
import datetime as dt
import pandas as pd

In [2]:
HISTOCK_UDF = 'https://histock.tw/Stock/tv/udf.asmx/'
HEADERS = {
    "User-Agent":
        "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"
}

In [56]:
def fetch_histock_udf(symbol, res, st_ts, end_ts):
    res = requests.get(f'{HISTOCK_UDF}history?symbol={symbol}'\
        f'&resolution={res}&from={st_ts}&to={end_ts}',
        headers=HEADERS)
    data = res.json()
    data['t'] = [pd.Timestamp(dt.datetime.fromtimestamp(ts)) for ts in data['t']]
    del data['s']
    del data['nextTime']
    return data

In [54]:
dt.datetime(2019, 4, 1).timestamp()

1554048000.0

In [55]:
pd.Timestamp(dt.datetime(2019, 4, 1).timestamp(), unit='s', )

Timestamp('2019-03-31 16:00:00')

In [38]:
date_start = dt.datetime(2019, 4, 1)
date_end = dt.datetime.now()

In [57]:
fetch_histock_udf('vix', 'D', int(date_start.timestamp()), int(date_end.timestamp()))

{'t': [Timestamp('2019-04-02 00:00:00'),
  Timestamp('2019-04-03 00:00:00'),
  Timestamp('2019-04-04 00:00:00'),
  Timestamp('2019-04-05 00:00:00'),
  Timestamp('2019-04-06 00:00:00'),
  Timestamp('2019-04-09 00:00:00'),
  Timestamp('2019-04-10 00:00:00'),
  Timestamp('2019-04-11 00:00:00')],
 'c': [13.4, 13.36, 13.74, 13.58, 12.82, 13.18, 14.28, 13.3],
 'o': [13.9, 13.62, 13.06, 13.84, 13.46, 13.55, 13.46, 14.09],
 'h': [14.01, 13.68, 14.27, 14.03, 13.47, 13.77, 14.39, 14.29],
 'l': [13.32, 13.13, 12.85, 13.4, 12.17, 13.1, 13.31, 13.27],
 'v': [0, 0, 0, 0, 0, 0, 0, 0]}

In [58]:
df = pd.DataFrame(fetch_histock_udf('vix', 'D', int(dt.datetime(2018, 1, 1).timestamp()), int(date_end.timestamp())))

In [64]:
df

             t      c      o      h      l  v
0   2018-01-03   9.77  10.95  11.07   9.52  0
1   2018-01-04   9.15   9.56   9.65   8.94  0
2   2018-01-05   9.22   9.01   9.31   8.92  0
3   2018-01-06   9.22   9.10   9.54   9.00  0
4   2018-01-09   9.52   9.61   9.89   9.32  0
5   2018-01-10  10.08   9.41  10.09   9.37  0
6   2018-01-11   9.82  10.11  10.85   9.82  0
7   2018-01-12   9.88   9.69  10.02   9.62  0
8   2018-01-13  10.16   9.74  10.31   9.54  0
9   2018-01-17  11.66  10.42  12.41  10.40  0
10  2018-01-18  11.91  11.35  12.80  11.18  0
11  2018-01-19  12.23  12.03  12.40  11.62  0
12  2018-01-20  11.27  12.30  12.33  11.17  0
13  2018-01-23  11.03  11.59  11.62  10.84  0
14  2018-01-24  11.10  10.77  11.57  10.76  0
15  2018-01-25  11.47  11.00  12.19  10.89  0
16  2018-01-26  11.58  11.27  12.01  11.20  0
17  2018-01-27  11.08  11.40  11.60  11.08  0
18  2018-01-30  13.84  11.71  13.84  11.68  0
19  2018-01-31  14.79  13.93  15.42  13.88  0
20  2018-02-01  13.54  14.23  14.44  13.41  0
21  2018-02-02  13.47  13.05  14.30  12.50  0
22  2018-02-03  17.31  13.64  17.86  13.64  0
23  2018-02-06  37.32  18.44  38.80  16.80  0
24  2018-02-07  29.98  37.32  50.30  22.42  0
25  2018-02-08  27.73  31.38  31.64  21.17  0
26  2018-02-09  33.46  27.29  36.17  24.41  0
27  2018-02-10  29.06  32.18  41.06  27.73  0
28  2018-02-13  25.61  27.25  29.70  24.42  0
29  2018-02-14  24.97  26.94  27.82  24.47  0
..         ...    ...    ...    ...    ... ..
290 2019-03-01  14.78  15.17  15.24  14.39  0
291 2019-03-02  13.57  14.57  14.84  13.41  0
292 2019-03-05  14.63  13.77  16.98  13.38  0
293 2019-03-06  14.74  14.52  15.39  14.26  0
294 2019-03-07  15.74  14.91  16.11  14.74  0
295 2019-03-08  16.59  16.33  17.81  15.54  0
296 2019-03-09  16.05  17.38  18.33  16.02  0
297 2019-03-12  14.33  16.28  16.43  14.33  0
298 2019-03-13  13.77  13.97  14.70  13.61  0
299 2019-03-14  13.41  14.00  14.05  13.25  0
300 2019-03-15  13.50  13.35  13.84  13.16  0
301 2019-03-16  12.88  13.21  13.28  12.50  0
302 2019-03-19  13.10  13.13  13.80  13.00  0
303 2019-03-20  13.56  12.89  13.77  12.37  0
304 2019-03-21  13.91  13.54  14.30  13.05  0
305 2019-03-22  13.63  14.11  14.56  13.26  0
306 2019-03-23  16.48  13.77  17.52  13.62  0
307 2019-03-26  16.33  17.76  17.85  16.26  0
308 2019-03-27  14.68  16.22  16.30  14.67  0
309 2019-03-28  15.15  14.52  16.71  14.51  0
310 2019-03-29  14.43  15.38  15.62  14.41  0
311 2019-03-30  13.71  14.19  14.43  13.64  0
312 2019-04-02  13.40  13.90  14.01  13.32  0
313 2019-04-03  13.36  13.62  13.68  13.13  0
314 2019-04-04  13.74  13.06  14.27  12.85  0
315 2019-04-05  13.58  13.84  14.03  13.40  0
316 2019-04-06  12.82  13.46  13.47  12.17  0
317 2019-04-09  13.18  13.55  13.77  13.10  0
318 2019-04-10  14.28  13.46  14.39  13.31  0
319 2019-04-11  13.30  14.09  14.29  13.27  0

[320 rows x 6 columns]